<div style="background: #F0F2F4;margin-bottom: 40px;border-radius: 10px;padding: 10px;font-family: sans-serif;">
	<table border="0" style="width:100%;">
		<tr>
			<td rowspan="4" style="text-align: center;width: 130px;">
				<img src="{{companyLogo}}" alt="" style="max-width: 100px;">
			</td>
			<td style="font-weight: 600;font-size: 20px;">{{jobTitle}}</td>
		</tr>
		<tr>
			<td style="color: #1A73E8;font-size: 14px;padding-top: 8px;">{{companyName}}</td>
		</tr>
		<tr>
			<td style="font-size: 14px;padding-top: 8px;">{{companyAddress}}</td>
		</tr>
	</table>
</div>

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif; color:#333333">
  <tr>
    <td colspan="2">
      <p style="color: #5F6368; font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif; text-align: start; line-height: 19px; font-size: 14px; margin: 0; padding: 0;">
          Hi {{nickname}}, We would like to inform you that Your application for {{jobTitle}} has been successfully submitted!
          <br> We are grateful to have you interested in joining {{companyName}}.
          <br> It may take some time for your application to be reviewed, but worry not because we use GreatDay recruitment tools to manage the recruitment processes.
          <br>
          {{{jobRecommendation}}}
          <div style="margin-top: 16px;">
            {{{similarJob1}}}
            {{{similarJob2}}}
            {{{similarJob3}}}
          </div>
          <br> We wish you the best luck!
          <br>
          <br>
          <br> Best,
          <br> GreatDay HR Team
      </p>
      <div style="display: flex; justify-content: center; align-items: center; margin: 18px 0;">
        <a href="{{ link }}" style="margin: 0 auto; border-radius: 10px; box-shadow: 0 7px 12px rgba(246, 161, 76, .6); background-color: #FBAC5E !important; text-decoration:none !important; text-decoration:none; font-size: 16px; font-family: Roboto, Helvetica, Arial, sans-serif; color: #ffffff; padding:12px 18px;background-color:#ff8a15; display: inline-block;text-align: center;"
          target="_blank">View on GreatDayHR Job
        </a>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <hr style="margin-top:20px; margin-bottom:16px;" />
    </td>
  </tr>
  <td width="50%">
    <p style="font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif; color: #5F6368; font-size: 14px;">Powered By: <br>
      <a href="https://greatdayhr.com" style="text-decoration:none!important;" target="_blank">
        <img style="object-fit: contain; width: 204px; height: 54px;" alt="LogoSunFishGo" title="Logo GreatDay HR" src="https://greatdayhr.com/wp-content/themes/gdhr-theme/assets/img/logo.svg"/>
      </a>
      <br> 
    <p style="font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif; color: #5F6368; font-size: 14px;">Copyright © 2019 GreatdayHR. All rights reserved.<br>
  </td>
</table>